#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.add-fund-btn{
  border-radius: 10px;
background: linear-gradient(0deg, rgba(244, 111, 110, 0.20) 0%, rgba(244, 111, 110, 0.20) 100%), #FFF;
}
.card-body{
padding: 15px !important;
}
.h-20{
  height:252px !important;
}
.max-w-xs{
  width: 15rem !important;
}
.w-96 {
  width: 299px !important;
}
.w-25 {
  width: 25rem !important;
}
.w-xss {
  width: 5rem !important;
}
.my-font{
  font-size:20px;font-weight:500;
}
.stat-figure{
  place-self: end !important;
}
.stroke-current {
  stroke: #ffcbcb !important;
}
.mypy-2 {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}
.pb-6{
padding-bottom: 20rem !important;
}
.text-regular{
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.text-aref{
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: var(--Grayscale-400, #98A2B3);
}
.w-25{
width: 390px !important;
height: 161px!important;
}